.color{
    background-color: rgb(247, 253, 250);
 }
.head{
    display: flex;
    max-width: 1024px;
    margin-left: 100px;
    padding: 2rem;
}

.heading{
margin-left: 25px;
margin-top: 18px;
}

.imgad{
    align-items: center;
}
.imglogo{
    width: 88px;
    height: 88px;
    background-color:  rgb(134, 224, 178);
    justify-content: center;
    border-radius: 16px;
    align-items: center;
}

.shoplogo{
    height: 125px;
    width: 125px;
    border-radius: 5px;
}

.shoplist{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.gcard{
    
    width: 512px;
    padding: 12px;
    margin-bottom: 20px;
    border: 0rem !important;
}

.list-group-item{
    border: 0rem !important;
}


.gcard:hover{
    box-shadow: rgba(140, 136, 136, 0.5) 0px 2px 9px 0px;
    border-radius: 16px;
}

.gcard-body{
    display: flex;
    flex-wrap: wrap;
}

