.product{
    display: flex;
    
}

.horizontal{
    
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 8px;
}
.productimagemain{
    width: 244px;
    height: 244px;
     
    box-shadow: rgba(0, 0, 0, 0.1) 2px 2px 8px;
}
.prodes{
    margin-top: 20px;
    margin-left: 20px;
}

.protitle{
    font-size: 35px;
    font-weight: 700;
    
}

.productimagemain{
    width: 244px;
    height: 244px;
    padding: 24px;
    margin-top: 25px;
}
.proinfo{
    margin-top: 40px;
    margin-left: 20px;
    margin-right: 20px;
}

.quantity{
     color: rgb(111, 117, 136);
     margin-top: 20px;
}

