.h{
    background-color: rgb(255, 255, 255);
    align-content: center;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    max-width: 1024px;
   margin-left: 12rem;
   border-bottom: 3px solid;
   border-color: grey;
   max-height: 100%;
}
.bod{
    background-color:rgb(255, 255, 255);
    align-content: center;
    display: flex;
    padding: 1rem;
 
    max-width: 1024px;
   margin-left: 12rem;
  max-height: 100%;
}


.but{
    display: flex;
    align-items: center;
}
.list{
    margin-top: 10px;
    height: 64px;
    margin-left: 10px;
    font-size: 1rem;
}
.li{
    background-color: rgb(240, 242, 247);
}
.gcardadd{
    
    width: 512px;
    padding: 12px;
    margin-bottom: 20px;
    /* border: 1px solid !important; */
    margin-left: 2px;
}

.gcard:hover{
    box-shadow: rgba(140, 136, 136, 0.5) 0px 2px 9px 0px;
    border-radius: 16px;
}

.gcard-body{
    display: flex;
    flex-wrap: wrap;
}

.con{
    margin-left: 10rem;
}

.addressType{
    display: flex !important;
    justify-content: space-between;
}

.addressBtn{
    display: flex;
    gap: 10px;
}

.active{
    background-color: white;
}
.li{
    text-align: center;
}

.orderimg{
    display: flex;
    margin-right: 10rem;
    margin-bottom: 1rem;
}

.orderproduct{
    margin-left: 1rem;
}
.gcardaddorder{
    align-items: center;
    background-color: aliceblue;
    margin-bottom: 1rem;
    margin-right:3rem;
}

.gcardadd{
    background-color: aliceblue;
    margin-right:3rem;
}